<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alienbin</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/6.0.1/autosize.min.js" integrity="sha512-OjjaC+tijryqhyPqy7jWSPCRj7fcosu1zreTX1k+OWSwu6uSqLLQ2kxaqL9UpR7xFaPsCwhMf1bQABw2rCxMbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include("nav.ejs") %> 
    <!--상단줄-->

  <form action="/save" method="POST">
    <div class="own_wrapper">
        <label for="ttlOption" style="color:#cbcbcb; margin-top:.5rem;">Expiration Time : </label>
        <select name="ttlOption" id="ttlOption">
            <option value="1day">1 Day</option>
            <option value="30s">30 Second</option>
            <option value="1m">1 Minute</option>
            <option value="10m">10 Minute</option>
            <option value="30m">30 Minute</option>
            <option value="1h">1 Hour</option>
            <option value="3h">3 Hour</option>
            <option value="7day">7 Day</option>
            <option value="off">Never</option>
        </select>
        
        <%- include("_button.ejs",{ canSave:true }) %>  <!--외부 ejs파일 가져다쓸때 cansave값을 true로 저장버튼 활성화-->
    </div>

<!--본문-->
    <div class="wrapper">
        <div class="line-numbers" id="line-numbers">
        </div>
        <textarea autofocus name="value"  id="textarea"><%= locals.value %></textarea>
    </div>
  </form>
 

<!--auto-size textrea, auto line number-->
 <script>
  autosize(document.querySelector('textarea'));

  const textarea = document.getElementById('textarea');
  const lineNumbers = document.getElementById('line-numbers');

  textarea.addEventListener('input', updateLineNumbers);
  textarea.addEventListener('scroll', syncScroll);
  textarea.addEventListener('keydown', handleTabKey); //tab key event

  function updateLineNumbers() {
      const lines = textarea.value.split('\n').length;
      let lineNumbersHtml = '';
      for (let i = 1; i <= lines; i++) {
          lineNumbersHtml += `${i}<br>`;
      }
      lineNumbers.innerHTML = lineNumbersHtml;
  }

  function syncScroll() {
      lineNumbers.scrollTop = textarea.scrollTop;
  }

  updateLineNumbers();


  //TAB key event
  function handleTabKey(e) {
    if (e.key === 'Tab') {
        e.preventDefault();
        const start = this.selectionStart;
        const end = this.selectionEnd;
        
        // 탭 대신 스페이스 4개 삽입
        this.value = this.value.substring(0, start) + '    ' + this.value.substring(end);
        
        // 커서 위치 이동
        this.selectionStart = this.selectionEnd = start + 4;
        
        updateLineNumbers();
    }
    }
 </script>


</body>
</html>